{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('autenticar') }}" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="proxima" value="{{ proxima }}">
    <fieldset>
        <div class="form-group">
            <label for="nome">Usuário</label>
            <input type="text" id="usuario" name="usuario" class="form-control">
        </div>
        <div class="form-group">
            <label for="categoria">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Entrar</button>
    </fieldset>
</form>
{% endblock %}