{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('criar') }}" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control">
        </div>
        <div class="form-group">
            <label for="console">Console</label>
            <input type="text" id="console" name="console" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
</form>
{% endblock %}