<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul id="messages" class="list-unstyled mt-2">
        {% for category, message in messages %}
        <li>
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <a class="navbar-brand h1" href="#">Jogoteca</a>
        <span class="navbar-text ml-auto">{{ nome_usuario or 'Você não está logado' }}</span>
    </nav>
    {% block conteudo %}
    {% endblock %}
</div>
<script src="{{ url_for('.static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bootstrap.min.js') }}"></script>
</body>
</html>